[Unit]
Description=WNC RSEB W1 32 Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-wnc-rseb-w1-32 start
ExecStop=-/etc/init.d/platform-wnc-rseb-w1-32 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
